<div class="show_character_div">
	<h2 class="name"><%= character.name %></h2>
	<p class="bio"><%= character.bio %></p>
	<p class="abilities">
		Health: <%= character.health %><%= raw ",&nbsp σ: #{character.health_sigma}" if !(character.unique) %>
	</p> |
	<p class="abilities">
		Strength: <%= character.strength %><%= raw ",&nbsp σ: #{character.strength_sigma}" if !(character.unique) %>
	</p> |
	<p class="abilities">
		Dexterity: <%= character.dexterity %><%= raw ",&nbsp σ: #{character.dexterity_sigma}" if !(character.unique) %>
	</p> |
	<p class="abilities">
		Constitution: <%= character.constitution %><%= raw ",&nbsp σ: #{character.constitution_sigma}" if !(character.unique) %>
	</p> |
	<p class="abilities">
		Intelligence: <%= character.intelligence %><%= raw ",&nbsp σ: #{character.intelligence_sigma}" if !(character.unique) %>
	</p> |
	<p class="abilities"> 
		Wisdom: <%= character.wisdom %><%= raw ",&nbsp σ: #{character.wisdom_sigma}" if !(character.unique) %>
	</p> |
	<p class="abilities">
		Charisma: <%= character.charisma %><%= raw ",&nbsp σ: #{character.charisma_sigma}" if !(character.unique) %>
	</p> 
</div>