
<script>
$(document).ready(function(){
    if (<%= edit ? "true" : "false" %>){
        $("#new-tag-location").replaceWith($("#new-tag-content").html());
    } else {
        $("#new-tag-location").html('');
    }
});
</script>
<ul class="tags">
<% if character.tags.count != 0 %>

    <% character.tags.each do |t| %>
    <li name="tag_<%= t.id %>" class="inline-tags"><%= t.key << ": " << t.value %>
    <% if edit %>
    <div class="edit-button inline-tags">
    <%= link_to(edit_tag_path(t), remote: true) do %>
    <span class="edit-link inline-tags">Edit</span>
    </div>
    <% end %>
    <% end %>
    </li>
    <% end %>
<% else %>

    <li>This character has no tags yet.</li>

<% end %>
    <div id="new-tag-location"> </div>
</ul>

<div id="new-tag-content">
    <li class="new">
    <%= form_for(tag, remote: true) do |t| %>
        <%= t.text_field(:key, placeholder: "Category") %>
        <%= t.text_field(:value, placeholder: "Value") %>
        <%= t.hidden_field(:character_id, value: character.id) %>
        <%= t.submit %>
    <% end %>
    </li>
</div>