<!DOCTYPE html>
<html>
<head>
  <title>CharacterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="new_character">
</div>
<div id="notice"></div>
<div class="background", onclick="cancelNewCharacter();">
<div id="container">
<div class="topbar">
	<%= link_to(new_character_path, remote: true) do %>
    <div class="plus">+</div>
    <% end %>
    <div class="edit-topbar", onclick="editToggle();">Edit</div>
</div>
<%= yield %>
</div>
</div>
</body>
</html>
